<div class="content">
        <!-- Ball Footer Menu -->

    
        <div class="blog-sidebar">
            <div class="decoration hide-if-responsive"></div>
            <div class="widget container">
                <h4>Looking 4 caregroup <i class="fa fa-angle-right"></i></h4>
            </div>
            
            <div class="widget container">
                <h4>Care Group Agenda</h4>
                <p>
                    New Care groups
                </p>
                <div class="col-xs-12">
                    <ul class="blog-category">
                        <li><a href="#"><i class="fa fa-angle-right"></i>Category 1</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Category 2</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Category 3</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Category 4</a></li>
                    </ul>
                </div>
                
                <div class="clear"></div>
            </div>
            <div class="decoration"></div>
            <div class="widget container">
                <h4>Recent Works</h4>
                <p>
                    You can link this to be a gallery or link it to act like a normal anchor
                    to redirect your users to the specific post you want.
                </p>
                <ul class="gallery square-thumb blog-gallery">
                    <li><a href="#"><img src="blog_files/1s.jpg" alt="img"></a></li>
                    <li><a href="#"><img src="blog_files/2s.jpg" alt="img"></a></li>
                    <li><a href="#"><img src="blog_files/3s.jpg" alt="img"></a></li>
                    <li><a href="#"><img src="blog_files/4s.jpg" alt="img"></a></li>
                </ul>
            </div>
        </div>


         <div class="footer-menu">
         <h2>Care groups</h2>
        <a href="" class="footer-menu-open">
            <i class="fa fa-ellipsis-v bg-red2">C'Gs</i>
        </a>
        <a style="display: none;" href="#" class="footer-menu-close">
            <em href="#" class="footer-menu-open-text">Close</em>
            <i class="fa fa-times bg-red2"></i>
        </a>
        <a style="display: none;" href="" class="footer-menu-item fm-1">
            <em>Namugongo</em>
            <i class="fa fa-mobile bg-blue1"></i>
        </a>
        <a style="display: none;" href="" class="footer-menu-item fm-2">
            <em>Kyambogo</em>
            <i class="fa fa-camera bg-teal1"></i>
        </a>
        <a style="display: none;" href="" class="footer-menu-item fm-3">
            <em>Mbuya</em>
            <i class="fa fa-picture-o bg-teal2"></i>
        </a>
        <a style="display: none;" href="" class="footer-menu-item fm-4">
            <em>Makerere</em>
            <i class="fa fa-mobile bg-blue1"></i>
        </a>
        <a style="display: none;" href="" class="footer-menu-item fm-5">
            <em>Kibuye</em>
            <i class="fa fa-envelope-o bg-blue2"></i>
        </a>

    </div>
    <div style="display: none;" class="menu-background"></div>

        <div class="blog-posts">
            <div class="blog-post">
                <a class="blog-post-image" href="#"><img src="blog_files/3ww.jpg" alt="img"></a>
                <h3 class="blog-post-title">Care group Agenda</h3>
                <p class="blog-post-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquam est
                    ut volutpat auctor. Suspendisse finibus libero risus, eu vulputate velit
                    tempor et. In eget nunc aliquam, sagittis risus vitae, pharetra enim.
                </p>
                <p class="blog-post-date"><i class="fa fa-calendar"></i>20/01/2015</p>
                <p class="blog-post-more"><a href="#">Read More<i class="fa fa-angle-right"></i></a></p>
            </div>
            <div class="decoration"></div>
            <div class="blog-post">
                <a class="blog-post-image" href="#"><img src="blog_files/5ww.jpg" alt="img"></a>
                <h3 class="blog-post-title">Blog Post Title</h3>
                <p class="blog-post-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquam est
                    ut volutpat auctor. Suspendisse finibus libero risus, eu vulputate velit
                    tempor et. In eget nunc aliquam, sagittis risus vitae, pharetra enim.
                </p>
                <p class="blog-post-date"><i class="fa fa-calendar"></i>20/01/2015</p>
                <p class="blog-post-more"><a href="#">Read More<i class="fa fa-angle-right"></i></a></p>
            </div>
        </div>
        <div class="decoration"></div>
    </div>


