
<div class="circle-homepage" align="center">
	<ul>
        <li>
            <%=link_to root_path do%>
                <i class="fa fa-home bg-red1"></i>
                <em>Home</em>
            <% end %>
        </li>
        <li>
            <%=link_to rcc_care_group_path do%>
                <i class="fa fa-users bg-green2"></i>
                <em>Care groups</em>
            <% end %>
        </li>
        <li>
            <%=link_to image_galleries_path do%>
                <i class="fa fa-camera bg-blue2"></i>
                <em>Galleries</em>
            <% end %>
        </li>
        <li>
            <a href="">
                <i class="fa fa-heart bg-magenta2"></i>
                <em>Give</em>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-book bg-orange2"></i>
                <em>Devotion</em>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-file-o bg-teal2"></i>
                <em>Redemption post</em>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-commenting bg-blue2"></i>
                <em>Socialize</em>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-youtube-play bg-yellow1"></i>
                <em>Videos</em>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-envelope-o bg-dark2"></i>
                <em>Contact</em>
            </a>
        </li>
    </ul>
</div>
