    <ul class="top-menu">
    	<h1 align="center">Redemption city church</h1>
		<li><a class="deploy-submenu" href=""><i class="fa fa-home bg-blue2"></i>Home<i class="fa fa-plus"></i></a></li>
        <li class="has-submenu">
            <a class="deploy-submenu" href="#"><i class="fa fa-cog bg-blue1"></i>Sermons<i class="fa fa-plus"></i></a>
            <ul class="submenu">
                <li><a href=""><i class="fa fa-angle-right"></i>Audios<i class="fa fa-circle"></i></a></li>
                <li><a href=""><i class="fa fa-angle-right"></i>Videos<i class="fa fa-circle"></i></a></li>
                <li><a href=""><i class="fa fa-angle-right"></i>Notes<i class="fa fa-circle"></i></a></li>
            </ul>
        </li>
        <li class="has-submenu">
            <a class="deploy-submenu" href="#"><i class="fa fa-picture-o bg-green2"></i>Redemption 5<i class="fa fa-plus"></i></a>
            <ul class="submenu">
                <li><a href=""><i class="fa fa-angle-right"></i>Audios<i class="fa fa-circle"></i></a></li>

            </ul>
        </li>
        <li class="has-submenu">
            <a class="deploy-submenu" href="#"><i class="fa fa-camera bg-green1"></i>Gallery<i class="fa fa-plus"></i></a>
            <ul class="submenu">
                <li><a href=""><i class="fa fa-angle-right"></i>RSM Graduation<i class="fa fa-circle"></i></a></li>
                <li><a href=""><i class="fa fa-angle-right"></i>Church service<i class="fa fa-circle"></i></a></li>
                <li><a href=""><i class="fa fa-angle-right"></i>Redemption sound<i class="fa fa-circle"></i></a></li>
                <li><a href=""><i class="fa fa-angle-right"></i>Children ministry<i class="fa fa-circle"></i></a></li>
      			<li><a href=""><i class="fa fa-angle-right"></i>Campus invasion<i class="fa fa-circle"></i></a></li>
 				<li><a href=""><i class="fa fa-angle-right"></i>Others<i class="fa fa-circle"></i></a></li>
            </ul>

		<li><a class="deploy-submenu" href=""><i class="fa fa-user bg-red1"></i>Donate<i class="fa fa-circle"></i></a></li>

        <li><a href=""><i class="fa fa-envelope bg-red1"></i>Contact<i class="fa fa-circle"></i></a></li>
        <li><a href="#" class="close-menu"><i class="fa fa-times bg-red2"></i>Close<i class="fa fa-circle"></i></a></li>
    </ul>

    <!-- Ball Footer Menu -->

    <a href="#" class="show-big-menu"><i class="fa fa-navicon bg-red2"></i></a>
    <div class="footer-menu">
        <a href="#" class="footer-menu-open">
            <i class="fa fa-ellipsis-v bg-red2"></i>
        </a>
        <a style="display: none;" href="#" class="footer-menu-close">
            <em href="#" class="footer-menu-open-text">Navigation</em>
            <i class="fa fa-times bg-red2"></i>
        </a>
        <a style="display: none;" href="" class="footer-menu-item fm-1">
            <em>Key Features</em>
            <i class="fa fa-cog bg-red1"></i>
        </a>
        <a style="display: none;" href="" class="footer-menu-item fm-2">
            <em>Care groups</em>
            <i class="fa fa-camera bg-teal1"></i>
        </a>
        <a style="display: none;" href="" class="footer-menu-item fm-3">
            <em>About</em>
            <i class="fa fa-picture-o bg-teal2"></i>
        </a>
        <a style="display: none;" href="" class="footer-menu-item fm-4">
            <em></em>
            <i class="fa fa-mobile bg-blue1"></i>
        </a>
        <a style="display: none;" href="" class="footer-menu-item fm-5">
            <em>Contact Us</em>
            <i class="fa fa-envelope-o bg-blue2"></i>
        </a>
    </div>
    <div style="display: none;" class="menu-background"></div>

    <!--Content Starts Here-->
    <h1 align ="center">Welcome to Redemption city church</h1>
    <div style="opacity: 1; display: block;" class="circle-slider half-bottom owl-carousel owl-theme">
        <div class="owl-wrapper-outer"><div style="width: 4062px; left: 0px; display: block; transform: translate3d(0px, 0px, 0px);" class="owl-wrapper"><div style="width: 677px;" class="owl-item"><div>
            <%= image_tag "chicago.jpg"%>
            <h1>Sunday celebration services</h1>
            <em class="text-red1 half-bottom"></em>
        </div></div><div style="width: 677px;" class="owl-item"><div>
            <%= image_tag "chicago.jpg"%>
            <h1>Welcome to </h1><h1>Redemption school of ministry </h1>
            <em class="text-red1 half-bottom"></em>
        </div></div><div style="width: 677px;" class="owl-item"><div>
            <%= image_tag "chicago.jpg"%>
            <h1>Welcome to Cricle</h1>
            <em class="text-red1 half-bottom"></em>
        </div></div></div></div>


    </div>

    <div class="content">
        <div class="decoration"></div>
    </div>

    <!-- Content Heading -->
    <div class="content-heading">
        <h4>Features</h4>
        <p>Awesome stuff our products do</p>
        <a href="#"><i class="fa fa-cog"></i></a>
        <div class="overlay"></div>
        <img src="Epsilon%20Mobile%20Framework%20-%20Version%202.0_files/1w.jpg" alt="img">
    </div>

    <div class="content">
        <div class="container no-bottom">
            <!-- Page Columns-->
            <p class="thumb-column">
                <img src="Epsilon%20Mobile%20Framework%20-%20Version%202.0_files/1s.jpg" alt="img">
                <strong>For Mobiles &amp; Tablets</strong>
                <em><br>Lorem Ipsum is simply dummy text of the printing and typeset. </em>
            </p>
            <p class="thumb-column">
                <img src="Epsilon%20Mobile%20Framework%20-%20Version%202.0_files/2s.jpg" alt="img">
                <strong>AppSpecific Features </strong>
                <em><br>Lorem Ipsum is simply dummy text of the printing and typeset. </em>
            </p>
            <p class="thumb-column">
                <img src="Epsilon%20Mobile%20Framework%20-%20Version%202.0_files/3s.jpg" alt="img">
                <strong>Galleries and Portfolios </strong>
                <em><br>Lorem Ipsum is simply dummy text of the printing and typeset. </em>
            </p>
            <p class="thumb-column">
                <img src="Epsilon%20Mobile%20Framework%20-%20Version%202.0_files/4s.jpg" alt="img">
                <strong>PhoneGap Ready</strong>
                <em><br>Lorem Ipsum is simply dummy text of the printing and typeset. </em>
            </p>
        </div>
    </div>

    <!-- Content Heading -->
    <div class="content-heading">
        <h4>MEET OUR STAFF</h4>
        <p>The guys behind our products</p>
        <a href="#"><i class="fa fa-user"></i></a>
        <div class="overlay"></div>
        <img src="Epsilon%20Mobile%20Framework%20-%20Version%202.0_files/3w.jpg" alt="img">
    </div>

    <!-- Page Content-->
    <div class="content">
        <!-- Staff Slider-->
        <div class="container">
            <a href="#" class="next-staff"></a>
            <a href="#" class="prev-staff"></a>
            <div style="opacity: 1; display: block;" class="staff-slider owl-carousel owl-theme" data-snap-ignore="true">
                <div class="owl-wrapper-outer"><div style="width: 4848px; left: 0px; display: block; transform: translate3d(-808px, 0px, 0px); transition: all 250ms ease 0s;" class="owl-wrapper"><div style="width: 404px;" class="owl-item"><div>
                    <div class="staff-item">
                        <img src="Epsilon%20Mobile%20Framework%20-%20Version%202.0_files/1s.jpg" alt="img">
                        <h4>John Doe</h4>
                        <em>Web Designer</em>
                        <strong>We love quotes, and sometimes it's annoying to see tons of them that you need to scroll to!</strong>
                        <a href="#" class="round-button button-red center-button">Call</a>
                    </div>
                </div></div><div style="width: 404px;" class="owl-item"><div>
                    <div class="staff-item">
                        <img src="Epsilon%20Mobile%20Framework%20-%20Version%202.0_files/2s.jpg" alt="img">
                        <h4>Jane Hidden</h4>
                        <em>Front End Developer</em>
                        <strong>We love quotes, and sometimes it's annoying to see tons of them that you need to scroll to!</strong>
                        <a href="#" class="round-button button-green center-button">Text</a>
                    </div>
                </div></div><div style="width: 404px;" class="owl-item"><div>
                    <div class="staff-item">
                        <img src="Epsilon%20Mobile%20Framework%20-%20Version%202.0_files/3s.jpg" alt="img">
                        <h4>Johanna Pear</h4>
                        <em>Business Manager</em>
                        <strong>We love quotes, and sometimes it's annoying to see tons of them that you need to scroll to!</strong>
                        <a href="#" class="round-button button-blue center-button">Mail</a>
                    </div>
                </div></div><div style="width: 404px;" class="owl-item"><div>
                    <div class="staff-item">
                        <img src="Epsilon%20Mobile%20Framework%20-%20Version%202.0_files/4s.jpg" alt="img">
                        <h4>Mike Grape</h4>
                        <em>Web Designer</em>
                        <strong>We love quotes, and sometimes it's annoying to see tons of them that you need to scroll to!</strong>
                        <a href="#" class="round-button button-dark center-button">Read More</a>
                    </div>
                </div></div><div style="width: 404px;" class="owl-item"><div>
                    <div class="staff-item">
                        <img src="Epsilon%20Mobile%20Framework%20-%20Version%202.0_files/5s.jpg" alt="img">
                        <h4>Victor Leaf</h4>
                        <em>Front End Developer</em>
                        <strong>We love quotes, and sometimes it's annoying to see tons of them that you need to scroll to!</strong>
                        <a href="#" class="round-button button-orange center-button">Facebook</a>
                    </div>
                </div></div><div style="width: 404px;" class="owl-item"><div>
                    <div class="staff-item">
                        <img src="Epsilon%20Mobile%20Framework%20-%20Version%202.0_files/6s.jpg" alt="img">
                        <h4>Snow White</h4>
                        <em>Business Manager</em>
                        <strong>We love quotes, and sometimes it's annoying to see tons of them that you need to scroll to!</strong>
                        <a href="#" class="round-button button-yellow center-button">Twitter</a>
                    </div>
                </div></div></div></div>





            </div>
        </div>
    </div>

    <!-- Content Heading -->
    <div class="content-heading">
        <h4>Testimonials</h4>
        <p>Awesome reviews by our customers!</p>
        <a href="#"><i class="fa fa-quote-left"></i></a>
        <div class="overlay"></div>
        <img src="Epsilon%20Mobile%20Framework%20-%20Version%202.0_files/6w.jpg" alt="img">
    </div>

    <div class="content">
        <div style="opacity: 1; display: block;" class="quote-slider full-bottom owl-carousel owl-theme" data-snap-ignore="true">
            <div class="owl-wrapper-outer"><div style="width: 7278px; left: 0px; display: block; transition: all 300ms ease 0s; transform: translate3d(-1213px, 0px, 0px);" class="owl-wrapper"><div style="width: 1213px;" class="owl-item"><div>
                <h4>
                    Great all around product, with some of the best
documentation I have ever seen. Really thorough and easy to follow!
                    Also the support responsiveness is really fantastic.
 Extremely happy with everything. Thanks again!
                </h4>
                <a href="#">ChrisPizzoDesign - ThemeForest</a>
            </div></div><div style="width: 1213px;" class="owl-item"><div>
                <h4>
                    Exceptional theme. Completely customisable, the best
 customer service I've ever had from a theme/plugin. Not only are
                    they fast but polite and don't make you feel like a
doofus even when you are probably being one.
                </h4>
                <a href="#">larzick27 - ThemeForest</a>
            </div></div><div style="width: 1213px;" class="owl-item"><div>
                <h4>
                    One of the best themes I've used so far and is very
well documented, coded and very clean. Got it intergrated with
                    wordpress in less than an hour! But this is an
amazing template built with a load of features!
                </h4>
                <a href="#">ramseycosay18 - ThemeForest</a>
            </div></div></div></div>


        </div>
    </div>

    <!-- Content Heading-->
    <div class="content-heading">
        <h4>Featured Project</h4>
        <p>Check and enjoy our featured item</p>
        <a href="#"><i class="fa fa-star"></i></a>
        <div class="overlay"></div>
        <img src="Epsilon%20Mobile%20Framework%20-%20Version%202.0_files/7w.jpg" alt="img">
    </div>

    <!-- Page Content-->
    <div class="content">
        <div class="container">
            <div class="one-half-responsive">
                <img src="Epsilon%20Mobile%20Framework%20-%20Version%202.0_files/mobiles.png" alt="img" class="responsive-image">
            </div>
            <div class="one-half-responsive last-column">
                <h3 class="center-if-mobile no-bottom">Awesome project title</h3>
                <em class="center-if-mobile small-text half-bottom">Awesome project subtitle</em>
                <p class="center-if-mobile half-bottom">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in quam mauris.
                    Nam condimentum convallis lectus, ac tempus massa eleifend sit amet. Ut nec orci
                    ut urna mollis elementum a et diam. Donec varius orci a convallis convallis.
                </p>
                <a href="#" class="round-button button-red center-button">Get it Today!</a>
            </div>
        </div>
    </div>

    <!-- Content Heading-->
    <div class="content-heading">
        <h4>Gallery projects</h4>
        <p>See more of our items</p>
        <a href="#"><i class="fa fa-camera"></i></a>
        <div class="overlay"></div>
        <img src="Epsilon%20Mobile%20Framework%20-%20Version%202.0_files/8w.jpg" alt="img">
    </div>

    <div class="content">
        <ul class="gallery round-thumb">
            <li><a class="swipebox" href="http://www.enableds.com/products/circle/images/pictures/1.jpg" title="An awesome gallery!"><img src="Epsilon%20Mobile%20Framework%20-%20Version%202.0_files/1s.jpg" alt="img"></a></li>
            <li><a class="swipebox" href="http://www.enableds.com/products/circle/images/pictures/2.jpg" title="An awesome gallery!"><img src="Epsilon%20Mobile%20Framework%20-%20Version%202.0_files/2s.jpg" alt="img"></a></li>
            <li><a class="swipebox" href="http://www.enableds.com/products/circle/images/pictures/3.jpg" title="An awesome gallery!"><img src="Epsilon%20Mobile%20Framework%20-%20Version%202.0_files/3s.jpg" alt="img"></a></li>
            <li><a class="swipebox" href="http://www.enableds.com/products/circle/images/pictures/4.jpg" title="An awesome gallery!"><img src="Epsilon%20Mobile%20Framework%20-%20Version%202.0_files/4s.jpg" alt="img"></a></li>
            <li><a class="swipebox" href="http://www.enableds.com/products/circle/images/pictures/5.jpg" title="An awesome gallery!"><img src="Epsilon%20Mobile%20Framework%20-%20Version%202.0_files/5s.jpg" alt="img"></a></li>
            <li><a class="swipebox" href="http://www.enableds.com/products/circle/images/pictures/6.jpg" title="An awesome gallery!"><img src="Epsilon%20Mobile%20Framework%20-%20Version%202.0_files/6s.jpg" alt="img"></a></li>
            <li><a class="swipebox" href="http://www.enableds.com/products/circle/images/pictures/7.jpg" title="An awesome gallery!"><img src="Epsilon%20Mobile%20Framework%20-%20Version%202.0_files/7s.jpg" alt="img"></a></li>
            <li><a class="swipebox" href="http://www.enableds.com/products/circle/images/pictures/8.jpg" title="An awesome gallery!"><img src="Epsilon%20Mobile%20Framework%20-%20Version%202.0_files/8s.jpg" alt="img"></a></li>
            <li><a class="swipebox" href="http://www.enableds.com/products/circle/images/pictures/1.jpg" title="An awesome gallery!"><img src="Epsilon%20Mobile%20Framework%20-%20Version%202.0_files/1s.jpg" alt="img"></a></li>
            <li><a class="swipebox" href="http://www.enableds.com/products/circle/images/pictures/2.jpg" title="An awesome gallery!"><img src="Epsilon%20Mobile%20Framework%20-%20Version%202.0_files/2s.jpg" alt="img"></a></li>
            <li><a class="swipebox" href="http://www.enableds.com/products/circle/images/pictures/3.jpg" title="An awesome gallery!"><img src="Epsilon%20Mobile%20Framework%20-%20Version%202.0_files/3s.jpg" alt="img"></a></li>
            <li><a class="swipebox" href="http://www.enableds.com/products/circle/images/pictures/4.jpg" title="An awesome gallery!"><img src="Epsilon%20Mobile%20Framework%20-%20Version%202.0_files/4s.jpg" alt="img"></a></li>
        </ul>
    </div>

    <!-- Content Heading-->
    <div class="content-heading">
        <h4>Purchase Today</h4>
        <p>Get it today for only $10</p>
        <a class="highlight-link" href="#"><i class="fa fa-dollar"></i></a>
        <div class="overlay"></div>
        <img src="Epsilon%20Mobile%20Framework%20-%20Version%202.0_files/3w.jpg" alt="img">
    </div>

    <div class="footer">
        <p class="center-text half-bottom">
            Copyright 2015, <a href="#">Enabled</a><br>
            All rights reserved.
        </p>
    </div>
</div>

<div class="share-bottom">
    <h3>Share Page</h3>
    <div class="share-socials-bottom">
        <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.themeforest.net/">
            <i class="fa fa-facebook facebook-color"></i>
            Facebook
        </a>
        <a href="https://twitter.com/home?status=Check%20out%20ThemeForest%20http://www.themeforest.net">
            <i class="fa fa-twitter twitter-color"></i>
            Twitter
        </a>
        <a href="https://plus.google.com/share?url=http://www.themeforest.net">
            <i class="fa fa-google-plus google-color"></i>
            Google
        </a>

        <a href="https://pinterest.com/pin/create/button/?url=http://www.themeforest.net/&amp;media=https://0.s3.envato.com/files/63790821/profile-image.jpg&amp;description=Themes%20and%20Templates">
            <i class="fa fa-pinterest-p pinterest-color"></i>
            Pinterest
        </a>
        <a href="sms:">
            <i class="fa fa-comment-o sms-color"></i>
            Text
        </a>
        <a href="mailto:?&amp;subject=Check%20this%20page%20out%21&amp;body=http://www.themeforest.net">
            <i class="fa fa-envelope-o mail-color"></i>
            Email
        </a>
    </div>
    <a href="#" class="close-share-bottom">Close</a>
</div>

