
<div class="circle-homepage">
    <ul>
        <li>
            <a href="http://www.enableds.com/products/circle/index.html">
                <i class="fa fa-home bg-red1"></i>
                <em>Home</em>
            </a>
        </li>
        <li>
            <a href="http://www.enableds.com/products/circle/list-features.html">
                <i class="fa fa-users bg-green2"></i>
                <em>Care groups</em>
            </a>
        </li>
        <li>
            <a href="http://www.enableds.com/products/circle/list-gallery.html">
                <i class="fa fa-camera bg-blue2"></i>
                <em>Galleries</em>
            </a>
        </li>
        <li>
            <a href="http://www.enableds.com/products/circle/list-portfolio.html">
                <i class="fa fa-heart bg-magenta2"></i>
                <em>Give</em>
            </a>
        </li>
        <li>
            <a href="http://www.enableds.com/products/circle/list-features.html">
                <i class="fa fa-book bg-orange2"></i>
                <em>Devotion</em>
            </a>
        </li>
        <li>
            <a href="http://www.enableds.com/products/circle/list-features.html">
                <i class="fa fa-file-o bg-teal2"></i>
                <em>Redemption post</em>
            </a>
        </li>
        <li>
            <a href="http://www.enableds.com/products/circle/page-blog.html">
                <i class="fa fa-social bg-blue2"></i>
                <em>Socialize</em>
            </a>
        </li>
        <li>
            <a href="http://www.enableds.com/products/circle/page-videos.html">
                <i class="fa fa-youtube-play bg-yellow1"></i>
                <em>Videos</em>
            </a>
        </li>
        <li>
            <a href="http://www.enableds.com/products/circle/list-contact.html">
                <i class="fa fa-envelope-o bg-dark2"></i>
                <em>Contact</em>
            </a>
        </li>
    </ul>
</div>
