	<ul class="top-menu">
    	<h2 class="well" align="center">Redemption city church</h2>
        
		<li><a href="#" class="close-menu"><i class="fa fa-times bg-red2"></i>Close<i class="fa fa-times fa-lg"></i></a></li>

		<li>
			<%=link_to  root_path do%>
				<i class="fa fa-home bg-blue2 deploy-submenu"></i>Home<i class="fa fa-plus fa-2x"></i>
			<% end %>
		</li>
        <li class="has-submenu">
            <a class="deploy-submenu" href="#"><i class="fa fa-cog bg-blue1"></i>Sermons<i class="fa fa-plus"></i></a>
            <ul class="submenu">
                <li><a href=""><i class="fa fa-angle-right"></i>Audios<i class="fa fa-circle"></i></a></li>
                <li><a href=""><i class="fa fa-angle-right"></i>Videos<i class="fa fa-circle"></i></a></li>
                <li><a href=""><i class="fa fa-angle-right"></i>Notes<i class="fa fa-circle"></i></a></li>
            </ul>
        </li>
        <li class="has-submenu">
            <a class="deploy-submenu" href="#"><i class="fa fa-picture-o bg-green2"></i>Redemption 5<i class="fa fa-plus"></i></a>
            <ul class="submenu">
                <li><a href=""><i class="fa fa-angle-right"></i>Audios<i class="fa fa-circle"></i></a></li>

            </ul>
        </li>
        <li class="has-submenu">
            <a class="deploy-submenu" href="#"><i class="fa fa-camera bg-green1"></i>Gallery<i class="fa fa-plus"></i></a>
            <ul class="submenu">
                <li><a href=""><i class="fa fa-angle-right"></i>RSM Graduation<i class="fa fa-circle"></i></a></li>
                <li><a href=""><i class="fa fa-angle-right"></i>Church service<i class="fa fa-circle"></i></a></li>
                <li><a href=""><i class="fa fa-angle-right"></i>Redemption sound<i class="fa fa-circle"></i></a></li>
                <li><a href=""><i class="fa fa-angle-right"></i>Children ministry<i class="fa fa-circle"></i></a></li>
      			<li><a href=""><i class="fa fa-angle-right"></i>Campus invasion<i class="fa fa-circle"></i></a></li>
 				<li><a href=""><i class="fa fa-angle-right"></i>Others<i class="fa fa-circle"></i></a></li>
            </ul>

		<li><a class="deploy-submenu" href=""><i class="fa fa-user bg-red1"></i>Donate<i class="fa fa-circle"></i></a></li>

        <li><a href=""><i class="fa fa-envelope bg-red1"></i>Contact<i class="fa fa-circle"></i></a></li>
    </ul>
