<!-- Ball Footer Menu -->

    <a href="#" class="show-big-menu"><i class="fa fa-navicon bg-red2"></i></a>
    <div class="footer-menu">
        <a href="#" class="footer-menu-open">
            <i class="fa fa-ellipsis-v bg-red2"></i>
        </a>
        <a style="display: none;" href="#" class="footer-menu-close">
            <em href="#" class="footer-menu-open-text">Navigation</em>
            <i class="fa fa-times bg-red2"></i>
        </a>
        <a style="display: none;" href="" class="footer-menu-item fm-1">
            <em>Key Features</em>
            <i class="fa fa-cog bg-red1"></i>
        </a>
        <a style="display: none;" href="" class="footer-menu-item fm-2">
            <em>Care groups</em>
            <i class="fa fa-camera bg-teal1"></i>
        </a>
        <a style="display: none;" href="" class="footer-menu-item fm-3">
            <em>About</em>
            <i class="fa fa-picture-o bg-teal2"></i>
        </a>
        <a style="display: none;" href="" class="footer-menu-item fm-4">
            <em></em>
            <i class="fa fa-mobile bg-blue1"></i>
        </a>
        <a style="display: none;" href="" class="footer-menu-item fm-5">
            <em>Contact Us</em>
            <i class="fa fa-envelope-o bg-blue2"></i>
        </a>
    </div>
    <div style="display: none;" class="menu-background"></div>
